.Footer {
  box-shadow: 0px 0px 30px 5px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0px 0px 30px 5px rgba(204, 204, 204, 0.5);
}

.FooterLogo {
  width: 60%;
  margin-bottom: 40px;
  padding: 0;
}

.FooterText {
  font-size: 15px;
}

.FooterLinks {
  margin-top: 40px;
}

.FooterLink {
  display: block;
  margin-bottom: 5px;
}
